In [3]:
import pandas as pd
pd.set_option('display.max_columns', 200)

# load
breeds = pd.read_csv('cleaned_dog_breeds.csv')
descriptions = pd.read_csv('cleaned_dog_descriptions.csv')
supplies = pd.read_csv('cleaned_pet_supplies.csv')

# quick shapes / columns
print("breeds:", breeds.shape)
print("descriptions:", descriptions.shape)
print("supplies:", supplies.shape)

print("\nbreeds columns:\n", list(breeds.columns))
print("\ndescriptions columns:\n", list(descriptions.columns))
print("\nsupplies columns:\n", list(supplies.columns))

# quick head
display(breeds.head())
display(descriptions.head())
display(supplies.head())

breeds: (103, 11)
descriptions: (58180, 47)
supplies: (1997, 7)

breeds columns:
 ['breed', 'country_of_origin', 'fur_color', 'height_', 'color_of_eyes', 'longevity_', 'character_traits', 'common_health_problems', 'height_in', 'breed_clean', 'size_category']

descriptions columns:
 ['inde', 'id', 'org_id', 'url', 'type_', 'species', 'breed_primary', 'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary', 'color_secondary', 'color_tertiary', 'age', 'se', 'size', 'coat', 'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current', 'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted', 'contact_city', 'contact_state', 'contact_zip', 'contact_country', 'stateq', 'accessed', 'description', 'breed_primary_clean', 'breed', 'country_of_origin', 'fur_color', 'height_', 'color_of_eyes', 'longevity_', 'character_traits', 'common_health_problems', 'height_in', 'breed_clean', 'size_category']

supplies columns:
 ['title', 'averagestar', 'quantity', 'tradeamount', 'wishedcount', 'sold_count', 'pet_type']

,breed,country_of_origin,fur_color,height_,color_of_eyes,longevity_,character_traits,common_health_problems,height_in,breed_clean,size_category
0,Labrador Retriever,Canada,"Yellow, Black, Chocolate",21-24,Brown,10-12,"Loyal, friendly, intelligent, energetic, good-...","Hip dysplasia, obesity, ear infections",21.0,labrador retriever,Medium
1,German Shepherd,Germany,"Black, Tan",22-26,Brown,7-10,"Loyal, intelligent, protective, confident, tra...","Hip dysplasia, elbow dysplasia, pancreatitis",22.0,german shepherd,Medium
2,Bulldog,England,"White, Red",12-16,Brown,8-10,"Loyal, calm, gentle, brave","Skin allergies, respiratory issues, obesity",12.0,bulldog,Small
3,Poodle,France,"White, Black, Brown, Apricot",10-15,"Brown, Blue",12-15,"Intelligent, active, affectionate, hypoallergenic","Hip dysplasia, epilepsy, bladder stones",10.0,poodle,Small
4,Beagle,England,"White, Tan, Red, Lemon",13-15,Brown,12-15,"Curious, friendly, energetic, good-natured","Ear infections, hip dysplasia, epilepsy",13.0,beagle,Small

,inde,id,org_id,url,type_,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,se,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateq,accessed,description,breed_primary_clean,breed,country_of_origin,fur_color,height_,color_of_eyes,longevity_,character_traits,common_health_problems,height_in,breed_clean,size_category
0,0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,HARLEY,adoptable,2019-09-20 16:37:59+00:00,Las Vegas,NV,89147,US,89009,2019-09-20,Harley is not sure how he wound up at shelter ...,american staffordshire terrier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,White / Cream,NaN,Adult,Male,Large,Short,True,True,NaN,False,True,NaN,NaN,NaN,BIGGIE,adoptable,2019-09-20 16:24:57+00:00,Las Vegas,NV,89147,US,89009,2019-09-20,6 year old Biggie has lost his home and really...,pit bull terrier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,NaN,NaN,Adult,Male,Large,Short,True,False,NaN,False,True,NaN,NaN,NaN,Ziggy,adoptable,2019-09-20 14:10:11+00:00,Mesquite,NV,89027,US,89009,2019-09-20,Approx 2 years old.\n Did I catch your eye? I ...,shepherd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,NaN,NaN,Baby,Female,Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,Gypsy,adoptable,2019-09-20 10:08:22+00:00,Pahrump,NV,89048,US,89009,2019-09-20,NaN,german shepherd dog,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,NaN,NaN,Young,Male,Small,Long,True,False,NaN,False,True,True,True,True,Theo,adoptable,2019-09-20 06:48:30+00:00,Henderson,NV,89052,US,89009,2019-09-20,Theo is a friendly dachshund mix who gets alon...,dachshund,Dachshund,Germany,"Black, Tan",5-9,"Brown, Blue",12-15,"Loyal, energetic, playful, curious","Intervertebral disc disease, hip dysplasia, di...",5.0,dachshund,Small

,title,averagestar,quantity,tradeamount,wishedcount,sold_count,pet_type
0,Mesh Litter Spatula Poop Remover Pet Cleaning ...,0.0,9993,5 sold,0,5,Cat
1,Rechargeable Mini Pet Communication Small Reco...,5.0,1986,28 sold,64,28,Cat
2,Dog Cooling Bed Mat Summer Puppy Cushion Soft ...,4.5,529,20 sold,38,20,Dog
3,Automatic Pet Feeder with Active RFID Technolo...,0.0,10,0 sold,1,0,Other
4,Replace Plush Cat Toy Accessories Worms Replac...,4.9,102222,"1,000+ sold",418,1000,Cat

In [4]:
# parse dates
descriptions['posted'] = pd.to_datetime(descriptions['posted'], errors='coerce')
descriptions['accessed'] = pd.to_datetime(descriptions['accessed'], errors='coerce')

# booleans
for c in ['env_children','env_dogs','env_cats']:
    if c in descriptions.columns:
        descriptions[c] = descriptions[c].astype('boolean')

# clean product sold-text into a numeric parsed column (optional)
supplies['tradeamount_parsed'] = supplies['tradeamount'].astype(str).str.replace(r'[^0-9]','', regex=True)
supplies['tradeamount_parsed'] = pd.to_numeric(supplies['tradeamount_parsed'], errors='coerce')

# unify pet_type capitalization
supplies['pet_type'] = supplies['pet_type'].astype(str).str.title()

# quick checks
print(supplies[['tradeamount','tradeamount_parsed','sold_count','pet_type']].head(10))

   tradeamount  tradeamount_parsed  sold_count pet_type
0       5 sold                   5           5      Cat
1      28 sold                  28          28      Cat
2      20 sold                  20          20      Dog
3       0 sold                   0           0    Other
4  1,000+ sold                1000        1000      Cat
5      46 sold                  46          46    Other
6       0 sold                   0           0      Cat
7      98 sold                  98          98      Cat
8  1,000+ sold                1000        1000      Dog
9  2,000+ sold                2000        2000      Cat

In [6]:
# Merge dog_descriptions (fact) with dog_breeds (dimension) on breed_clean
merged = descriptions.merge(
    breeds,
    on='breed_clean',
    how='left',
    suffixes=('_desc','_dim')
)

print("merged rows:", merged.shape)
print("merged columns:", merged.columns.tolist()[:20])  # check first 20 cols

# Show sample
display(merged[['id','breed_clean','breed_dim','size_category_dim']].head())

merged rows: (58180, 57)
merged columns: ['inde', 'id', 'org_id', 'url', 'type_', 'species', 'breed_primary', 'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary', 'color_secondary', 'color_tertiary', 'age', 'se', 'size', 'coat', 'fixed', 'house_trained', 'declawed']

         id breed_clean  breed_dim size_category_dim
0  46042150         NaN        NaN               NaN
1  46042002         NaN        NaN               NaN
2  46040898         NaN        NaN               NaN
3  46039877         NaN        NaN               NaN
4  46039306   dachshund  Dachshund             Small

In [8]:
# show the right columns
display(merged[['id','breed_clean','breed_dim','size_category_dim']].head())

         id breed_clean  breed_dim size_category_dim
0  46042150         NaN        NaN               NaN
1  46042002         NaN        NaN               NaN
2  46040898         NaN        NaN               NaN
3  46039877         NaN        NaN               NaN
4  46039306   dachshund  Dachshund             Small

In [9]:
# Merge descriptions (fact) with breeds (dimension)
merged = descriptions.merge(
    breeds,
    on='breed_clean',
    how='left',
    suffixes=('_desc','_dim')
)

print("merged shape:", merged.shape)
display(merged[['id','breed_clean','breed_dim','size_category_dim']].head())

merged shape: (58180, 57)

         id breed_clean  breed_dim size_category_dim
0  46042150         NaN        NaN               NaN
1  46042002         NaN        NaN               NaN
2  46040898         NaN        NaN               NaN
3  46039877         NaN        NaN               NaN
4  46039306   dachshund  Dachshund             Small

In [11]:
print([c for c in merged.columns if "longev" in c.lower()])

['longevity__desc', 'longevity__dim']

In [14]:
# --- Clean longevity__dim into numeric values ---
def parse_longevity(val):
    if pd.isna(val):
        return None
    val = str(val).strip()
    # Handle ranges like "12-15"
    if "-" in val:
        try:
            lo, hi = val.split("-")
            return (float(lo) + float(hi)) / 2
        except:
            return None
    # Handle single numbers like "10"
    try:
        return float(val)
    except:
        return None

merged['longevity_num'] = merged['longevity__dim'].apply(parse_longevity)

# --- Now compute average longevity by breed ---
dogs_longevity = (
    merged.groupby('breed_dim')['longevity_num']
    .mean()
    .reset_index(name='avg_longevity')
)

display(dogs_longevity.head(10))

             breed_dim  avg_longevity
0        Affenpinscher           13.5
1                Akita           11.0
2     American Bulldog           11.0
3  American Eskimo Dog           13.5
4   Anatolian Shepherd           13.0
5    Australian Kelpie           13.0
6  Australian Shepherd           13.5
7   Australian Terrier           13.5
8              Basenji           13.5
9         Basset Hound           11.0

In [16]:
# --- Clean longevity__dim into numeric values and replace it ---
def parse_longevity(val):
    if pd.isna(val):
        return None
    val = str(val).strip()
    # Handle ranges like "12-15"
    if "-" in val:
        try:
            lo, hi = val.split("-")
            return (float(lo) + float(hi)) / 2
        except:
            return None
    # Handle single numbers like "10"
    try:
        return float(val)
    except:
        return None

# Replace old column with numeric values
merged['longevity__dim'] = merged['longevity__dim'].apply(parse_longevity)

# Quick check of the cleaned column
print(merged['longevity__dim'].head(15))

# Example: compute average longevity by breed
dogs_longevity = (
    merged.groupby('breed_dim')['longevity__dim']
    .mean()
    .reset_index(name='avg_longevity')
)

display(dogs_longevity.head(10))

0      NaN
1      NaN
2      NaN
3      NaN
4     13.5
5     11.0
6     13.5
7      NaN
8      NaN
9      NaN
10     NaN
11    13.5
12     NaN
13    13.5
14     NaN
Name: longevity__dim, dtype: float64

             breed_dim  avg_longevity
0        Affenpinscher           13.5
1                Akita           11.0
2     American Bulldog           11.0
3  American Eskimo Dog           13.5
4   Anatolian Shepherd           13.0
5    Australian Kelpie           13.0
6  Australian Shepherd           13.5
7   Australian Terrier           13.5
8              Basenji           13.5
9         Basset Hound           11.0

In [18]:
# --- 1. Clean weight__dim (convert ranges like "20-30" into average) ---
def parse_range(val):
    if pd.isna(val):
        return None
    val = str(val).strip()
    if "-" in val:
        try:
            lo, hi = val.split("-")
            return (float(lo) + float(hi)) / 2
        except:
            return None
    try:
        return float(val)
    except:
        return None

if 'weight__dim' in merged.columns:
    merged['weight__dim'] = merged['weight__dim'].apply(parse_range)

# --- 2. Clean height__dim (same logic as weight) ---
if 'height__dim' in merged.columns:
    merged['height__dim'] = merged['height__dim'].apply(parse_range)

# --- 3. Clean tradeamount in pet_supplies (extract sold count) ---
def parse_tradeamount(val):
    if pd.isna(val):
        return None
    val = str(val)
    import re
    numbers = re.findall(r'\d+', val)
    if numbers:
        return int(numbers[0])
    return None

if 'tradeamount' in supplies.columns:
    supplies['tradeamount_num'] = supplies['tradeamount'].apply(parse_tradeamount)

# --- 4. Clean price (remove symbols, convert to float) ---
def parse_price(val):
    if pd.isna(val):
        return None
    val = str(val).replace('$','').replace(',','').strip()
    try:
        return float(val)
    except:
        return None

if 'price' in supplies.columns:
    supplies['price_num'] = supplies['price'].apply(parse_price)

# --- Quick checks ---
print("Weight sample:", merged['weight__dim'].head(10).tolist() if 'weight__dim' in merged.columns else "No weight column")
print("Height sample:", merged['height__dim'].head(10).tolist() if 'height__dim' in merged.columns else "No height column")

if 'tradeamount_num' in supplies.columns:
    print(supplies[['tradeamount','tradeamount_num']].head(10))

if 'price_num' in supplies.columns:
    print(supplies[['price','price_num']].head(10))

Weight sample: No weight column
Height sample: [nan, nan, nan, nan, 7.0, 23.0, 14.0, nan, nan, nan]
   tradeamount  tradeamount_num
0       5 sold                5
1      28 sold               28
2      20 sold               20
3       0 sold                0
4  1,000+ sold                1
5      46 sold               46
6       0 sold                0
7      98 sold               98
8  1,000+ sold                1
9  2,000+ sold                2

In [19]:
# --- 1. Longevity ---
if 'longevity__dim' in merged.columns:
    merged['longevity'] = merged['longevity__dim']  # already numeric after cleaning
    merged.drop(columns=['longevity__dim','longevity__desc'], inplace=True, errors='ignore')

# --- 2. Weight ---
if 'weight__dim' in merged.columns:
    merged['weight'] = merged['weight__dim']
    merged.drop(columns=['weight__dim'], inplace=True, errors='ignore')

# --- 3. Height ---
if 'height__dim' in merged.columns:
    merged['height'] = merged['height__dim']
    merged.drop(columns=['height__dim','height__desc'], inplace=True, errors='ignore')

# --- 4. Breed and Size Category ---
if 'breed_dim' in merged.columns:
    merged.rename(columns={'breed_dim':'breed'}, inplace=True)

if 'size_category_dim' in merged.columns:
    merged.rename(columns={'size_category_dim':'size_category'}, inplace=True)

# --- 5. Pet Supplies cleaning ---
if 'tradeamount_num' in supplies.columns:
    supplies.rename(columns={'tradeamount_num':'tradeamount_clean'}, inplace=True)

if 'price_num' in supplies.columns:
    supplies.rename(columns={'price_num':'price_clean'}, inplace=True)

# --- Quick check of cleaned tables ---
print("Merged columns:", merged.columns.tolist()[:20])  # show first 20 columns
print("Supplies columns:", supplies.columns.tolist())

Merged columns: ['inde', 'id', 'org_id', 'url', 'type_', 'species', 'breed_primary', 'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary', 'color_secondary', 'color_tertiary', 'age', 'se', 'size', 'coat', 'fixed', 'house_trained', 'declawed']
Supplies columns: ['title', 'averagestar', 'quantity', 'tradeamount', 'wishedcount', 'sold_count', 'pet_type', 'tradeamount_parsed', 'tradeamount_clean']